/*     <!-- CUERPO DE PÃGINA --> */

#grid_main {
    width: auto;
    height: auto;
    display: grid;
    padding: 10px;
    gap: 10px;
    margin: 10px;
    grid-template-columns: auto;
    justify-content: space-evenly;
   
}

.grid_genero {
    width: auto;
    height: auto;
    display: grid;
    padding: 10px;
    gap: 20px;
    margin: 10px;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    & a {
        text-decoration: none;
        color: black;
    }
}

h2 {
    text-align: center;
    text-decoration: underline palevioletred;
}

.flex_article {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px;
    gap: 5px;
    justify-content: space-evenly;
    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
    & img {
        width: 250px;    
        height: 250px;
    }
}

.flex_contenido {
    width: 200px;
    height: 250px;
}


.flex_article_visuales {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    justify-content: space-evenly;
    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
    & img {
        width: 250px;    
        height: 250px;
    }
}

.flex_contenido_visuales {
    width: 200px;
    height: 250px;
}