/*     <!-- PIE DE PÃGINA --> */

#footer {
    display: flex;
    background-color: palevioletred;
    margin: 20px;
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    color: blanchedalmond;
    font-size: medium;
    text-align: center;
    & img {
        width: 30px;
        height: 30px;
    }
    & img:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
}