/*     <!-- VARIABLES --> */

/*     <!-- PALETA DE COLORES --> */
$color_principal: palevioletred;
$color_secundario: white;
$color_terciario: plum;

/*     <!-- VARIABLES DE TAMAÑOS RESPONSIVE --> */
$mobile_min: 100px;
$mobile_max: 768px;
$tablet_min: 768px;
$tablet_max: 1200px;
$desktop_min: 1200px;

